**Downloading the latest data for the comapanies**

In [ ]:
import yfinance as yf
import os, contextlib

In [ ]:
#Downloading the latest data
import os
import shutil

# Create a new directory for the specific files
specific_dir = "specific_stocks"
if not os.path.exists(specific_dir):
    os.mkdir(specific_dir)

# List of specific files you want to extract
specific_files = ['GOOGL.csv', 'FB.csv', 'AAPL.csv', 'NVDA.csv', 'TSLA.csv', 'TWTR.csv']

# Source directory where the files are located (change this if needed)
source_dir = "stocks"  # or "etfs" if some of them are ETFs

def move_specific_files(files, src, dest):
    for file in files:
        src_file = os.path.join(src, file)
        if os.path.isfile(src_file):
            shutil.move(src_file, os.path.join(dest, file))
        else:
            print(f"{file} not found in {src}")

# Move the specific files to the new directory
move_specific_files(specific_files, source_dir, specific_dir)

**Adding few columns in the dataset**

In [ ]:
import pandas as pd

In [3]:
apple= pd.read_csv('/kaggle/input/stockmarket/AAPL.csv')
google=pd.read_csv('/kaggle/input/stockmarket/GOOGL.csv')
nvidia=pd.read_csv('/kaggle/input/stockmarket/NVDA.csv')
tesla=pd.read_csv('/kaggle/input/stockmarket/TSLA.csv')
X=pd.read_csv('/kaggle/input/stockmarket/X.csv')
facebook=pd.read_csv('/kaggle/input/facebook/META.csv')

In [5]:
apple.head()

         Date      Open      High       Low     Close  Adj Close     Volume
0  1980-12-12  0.128348  0.128906  0.128348  0.128348   0.100764  469033600
1  1980-12-15  0.122210  0.122210  0.121652  0.121652   0.095508  175884800
2  1980-12-16  0.113281  0.113281  0.112723  0.112723   0.088498  105728000
3  1980-12-17  0.115513  0.116071  0.115513  0.115513   0.090688   86441600
4  1980-12-18  0.118862  0.119420  0.118862  0.118862   0.093317   73449600

In [4]:
dfs=[facebook,google,nvidia,tesla,X,apple]

In [5]:
for df in dfs:
    df['MA50']=df.Close.rolling(50).mean()
    df['MA200']=df.Close.rolling(200).mean()

In [8]:
apple.head(50)

,Date,Open,High,Low,Close,Adj Close,Volume,MA50,MA200
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.100764,469033600,NaN,NaN
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.095508,175884800,NaN,NaN
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.088498,105728000,NaN,NaN
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.090688,86441600,NaN,NaN
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.093317,73449600,NaN,NaN
5,1980-12-19,0.126116,0.126674,0.126116,0.126116,0.099012,48630400,NaN,NaN
6,1980-12-22,0.132254,0.132813,0.132254,0.132254,0.103831,37363200,NaN,NaN
7,1980-12-23,0.137835,0.138393,0.137835,0.137835,0.108213,46950400,NaN,NaN
8,1980-12-24,0.145089,0.145647,0.145089,0.145089,0.113908,48003200,NaN,NaN
9,1980-12-26,0.158482,0.159040,0.158482,0.158482,0.124422,55574400,NaN,NaN
10,1980-12-29,0.160714,0.161272,0.160714,0.160714,0.126175,93161600,NaN,NaN
11,1980-12-30,0.157366,0.157366,0.156808,0.156808,0.123108,68880000,NaN,NaN
12,1980-12-31,0.152902,0.152902,0.152344,0.152344,0.119604,35750400,NaN,NaN
13,1981-01-02,0.154018,0.155134,0.154018,0.154018,0.120918,21660800,NaN,NaN
14,1981-01-05,0.151228,0.151228,0.150670,0.150670,0.118289,35728000,NaN,NaN
15,1981-01-06,0.144531,0.144531,0.143973,0.143973,0.113032,45158400,NaN,NaN
16,1981-01-07,0.138393,0.138393,0.137835,0.137835,0.108213,55686400,NaN,NaN
17,1981-01-08,0.135603,0.135603,0.135045,0.135045,0.106022,39827200,NaN,NaN
18,1981-01-09,0.142299,0.142857,0.142299,0.142299,0.111717,21504000,NaN,NaN
19,1981-01-12,0.142299,0.142299,0.141183,0.141183,0.110841,23699200,NaN,NaN
20,1981-01-13,0.136719,0.136719,0.136161,0.136161,0.106898,23049600,NaN,NaN
21,1981-01-14,0.136719,0.137277,0.136719,0.136719,0.107337,14291200,NaN,NaN
22,1981-01-15,0.139509,0.140625,0.139509,0.139509,0.109527,14067200,NaN,NaN
23,1981-01-16,0.138951,0.138951,0.138393,0.138393,0.108651,13395200,NaN,NaN
24,1981-01-19,0.146763,0.147321,0.146763,0.146763,0.115222,41574400,NaN,NaN
25,1981-01-20,0.142857,0.142857,0.142299,0.142299,0.111717,30083200,NaN,NaN
26,1981-01-21,0.145089,0.146205,0.145089,0.145089,0.113908,15904000,NaN,NaN
27,1981-01-22,0.146763,0.147879,0.146763,0.146763,0.115222,35548800,NaN,NaN
28,1981-01-23,0.146763,0.147321,0.146205,0.146205,0.114784,11222400,NaN,NaN
29,1981-01-26,0.144531,0.144531,0.143973,0.143973,0.113032,24640000,NaN,NaN
30,1981-01-27,0.143973,0.143973,0.142857,0.142857,0.112155,23699200,NaN,NaN
31,1981-01-28,0.138951,0.138951,0.138393,0.138393,0.108651,28156800,NaN,NaN
32,1981-01-29,0.133929,0.133929,0.133371,0.133371,0.104708,43904000,NaN,NaN
33,1981-01-30,0.127232,0.127232,0.126116,0.126116,0.099012,46188800,NaN,NaN
34,1981-02-02,0.119420,0.119420,0.118862,0.118862,0.093317,23766400,NaN,NaN
35,1981-02-03,0.123326,0.123884,0.123326,0.123326,0.096822,19152000,NaN,NaN
36,1981-02-04,0.127790,0.128348,0.127790,0.127790,0.100326,27865600,NaN,NaN
37,1981-02-05,0.127790,0.128906,0.127790,0.127790,0.100326,7929600,NaN,NaN
38,1981-02-06,0.128348,0.128906,0.128348,0.128348,0.100764,13865600,NaN,NaN
39,1981-02-09,0.122768,0.122768,0.121652,0.121652,0.095508,16755200,NaN,NaN
40,1981-02-10,0.121652,0.122210,0.121652,0.121652,0.095508,18345600,NaN,NaN
41,1981-02-11,0.118304,0.118304,0.117746,0.117746,0.092441,13843200,NaN,NaN
42,1981-02-12,0.117188,0.117188,0.116629,0.116629,0.091564,14560000,NaN,NaN
43,1981-02-13,0.114955,0.114955,0.113839,0.113839,0.089374,11155200,NaN,NaN
44,1981-02-17,0.116629,0.117188,0.116629,0.116629,0.091564,12275200,NaN,NaN
45,1981-02-18,0.121652,0.122768,0.121652,0.121652,0.095508,19241600,NaN,NaN
46,1981-02-19,0.114955,0.114955,0.114397,0.114397,0.089812,22310400,NaN,NaN
47,1981-02-20,0.108817,0.108817,0.108259,0.108259,0.084993,24371200,NaN,NaN
48,1981-02-23,0.109933,0.110491,0.109933,0.109933,0.086307,14112000,NaN,NaN
49,1981-02-24,0.107143,0.107143,0.106027,0.106027,0.083241,16979200,0.132578,NaN

In [6]:
for df in dfs:
    df['Previous day close price']=df.Close.shift(1)

In [10]:
apple.head()

,Date,Open,High,Low,Close,Adj Close,Volume,MA50,MA200,Previous day close price
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.100764,469033600,NaN,NaN,NaN
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.095508,175884800,NaN,NaN,0.128348
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.088498,105728000,NaN,NaN,0.121652
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.090688,86441600,NaN,NaN,0.112723
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.093317,73449600,NaN,NaN,0.115513

In [7]:
for df in dfs:
    df['Change in price']=df['Close'] - df['Previous day close price']

In [12]:
apple.head()

,Date,Open,High,Low,Close,Adj Close,Volume,MA50,MA200,Previous day close price,Change in price
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.100764,469033600,NaN,NaN,NaN,NaN
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.095508,175884800,NaN,NaN,0.128348,-0.006696
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.088498,105728000,NaN,NaN,0.121652,-0.008929
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.090688,86441600,NaN,NaN,0.112723,0.002790
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.093317,73449600,NaN,NaN,0.115513,0.003349

In [8]:
for df in dfs:
    df['Percent change in price']= df.Close.pct_change()

In [14]:
apple.head()

,Date,Open,High,Low,Close,Adj Close,Volume,MA50,MA200,Previous day close price,Change in price,Percent change in price
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.100764,469033600,NaN,NaN,NaN,NaN,NaN
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.095508,175884800,NaN,NaN,0.128348,-0.006696,-0.052171
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.088498,105728000,NaN,NaN,0.121652,-0.008929,-0.073398
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.090688,86441600,NaN,NaN,0.112723,0.002790,0.024751
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.093317,73449600,NaN,NaN,0.115513,0.003349,0.028992

In [9]:
for df in dfs:
    df['Previous day volume']=df.Volume.shift(1)

In [16]:
apple.head()

,Date,Open,High,Low,Close,Adj Close,Volume,MA50,MA200,Previous day close price,Change in price,Percent change in price,Previous day volume
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.100764,469033600,NaN,NaN,NaN,NaN,NaN,NaN
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.095508,175884800,NaN,NaN,0.128348,-0.006696,-0.052171,469033600.0
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.088498,105728000,NaN,NaN,0.121652,-0.008929,-0.073398,175884800.0
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.090688,86441600,NaN,NaN,0.112723,0.002790,0.024751,105728000.0
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.093317,73449600,NaN,NaN,0.115513,0.003349,0.028992,86441600.0

In [10]:
for df in dfs:
    df['Change in volume']=df['Volume'] - df['Previous day volume']

In [18]:
apple.head()

,Date,Open,High,Low,Close,Adj Close,Volume,MA50,MA200,Previous day close price,Change in price,Percent change in price,Previous day volume,Change in volume
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.100764,469033600,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.095508,175884800,NaN,NaN,0.128348,-0.006696,-0.052171,469033600.0,-293148800.0
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.088498,105728000,NaN,NaN,0.121652,-0.008929,-0.073398,175884800.0,-70156800.0
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.090688,86441600,NaN,NaN,0.112723,0.002790,0.024751,105728000.0,-19286400.0
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.093317,73449600,NaN,NaN,0.115513,0.003349,0.028992,86441600.0,-12992000.0

In [11]:
for df in dfs:
    df['Percent change in volume']= df.Volume.pct_change()

In [20]:
apple.head()

,Date,Open,High,Low,Close,Adj Close,Volume,MA50,MA200,Previous day close price,Change in price,Percent change in price,Previous day volume,Change in volume,Percent change in volume
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.100764,469033600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.095508,175884800,NaN,NaN,0.128348,-0.006696,-0.052171,469033600.0,-293148800.0,-0.625006
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.088498,105728000,NaN,NaN,0.121652,-0.008929,-0.073398,175884800.0,-70156800.0,-0.398879
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.090688,86441600,NaN,NaN,0.112723,0.002790,0.024751,105728000.0,-19286400.0,-0.182415
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.093317,73449600,NaN,NaN,0.115513,0.003349,0.028992,86441600.0,-12992000.0,-0.150298

In [12]:
apple.to_csv('Apple.csv')
google.to_csv('Google.csv')
nvidia.to_csv('Nvidia.csv')
tesla.to_csv('Tesla.csv')
X.to_csv('Twitter.csv')
facebook.to_csv('Facebook1.csv')